$color-offwhite: #FFFEE9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    max-width: 680px;
}

nav, header, main {
    padding: 8px;
    margin: 8px;
}

.icons {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.button {
    border: 2px solid purple;
    border-radius: 10px;
    padding: 24px 40px;
    font-size: 32px;
    font-weight: bold;
    color: purple;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: lightskyblue;
}

main {
    color: purple;
    text-align: center;

    img {
        width: 250px;
        height: auto;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }
}

.mockup {
    width: 400px;
    height: auto;
}

#blue {
    color: lightskyblue;
}

.debold {
    font-weight: normal;
}

.italic {
    font-style: italic;
    font-weight: 100;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purple-button {
    font-size: 32px;
    color: white;
    padding: 16px 80px;
    background-color: purple;
    border-radius: 10px;
}

footer {
    padding: 24px 0;
    color: purple;
    text-align: center;
    background-color: $color-offwhite;
    
    h1 {
        background-color: $color-offwhite;
        padding: 24px 0;
    }
}